/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/*
!/vendor/laravel/socialite/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/img/tour/*
/public/img/user/*
!/public/img/tour
!/public/img/user