/* General styles */

html, body {margin: 0; padding: 0; overflow-x:hidden;}
label, p, a, a:hover{
    color: #232931;
    text-decoration: none;
    border: 0px;
}
a:hover, button:hover{
    cursor: pointer;
}

.favorite-tour, .favorite-tour:hover {
    padding: 0;
    border: none;
    background: none;
}
.page-item.active .page-link, .button-light, .button-dark:hover
{
    background-color: #ffb400;
    color: white;
    border: 0;
    border-radius: 0;
}
.page-item .page-link, .button-dark, .button-light:hover
{
    background-color: #232931;
    color: white;
    border: 0;
    border-radius: 0;
}

.page-item.disabled .page-link
{
    display: none;
}
.border{
    border: 1px solid #2329318c!important;
}
hr{
 background-color: #2329318c
}
.form-control{
    color: #232931;
    border: 1px solid #2329318c;
}

.title {
    font-size: 24px;
    font-weight: 800;
}
.sub-title {
    font-size: 20px;
    font-weight: 600;
}
p, .content {
    font-size: 14px;
}
.info {
    font-size: 12px;
    font-weight: 400;
}


@media (max-width: 991px) {
    .title {
        font-size: 16px;
        font-weight: 800;
    }
    .sub-title {
        font-size: 16px;
        font-weight: 600;
    }
    p, .content {
        font-size: 14px;
    }
    .info {
        font-size: 12px;
        font-weight: 400;
    }
}

/* header and footer */
nav #logo{
    width: 10vw;
}
nav .search {
    z-index: 10;
}
nav .search .input-group input {
    width: 30vw;
    height: 40px;
}

nav .search .input-group button {
    background-color: #ffb400;
    border: none;
    border-radius: 0;
    height: 40px;
    align-items: center;
}
nav .btn-search img{
    width: 25px;
    vertical-align: baseline;
}

#search-link{
    display: none;
}

.search-text{
    border: none;
    border-radius: 0;
}

@media (max-width: 991px) {
    nav #logo{
        width: 15vw;
    }
    .navbar {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .search{
        display: none;
    }
    #search-link{
        display: block;
    }
    #search-modal .input-group>input {
        width: 20vw;
        height: 30px;
    }

    #search-modal .input-group button {
        background-color: #ffb400;
        border: none;
        border-radius: 0;
        height: 30px;
        align-items: center;
    }

    .footer .logo {
        display: none;
    }
    .about-me, .social-media{
        margin-left: 20px;
    }

    nav .btn-search img{
        width: 20px;
        vertical-align: baseline;
    }

    #user-center{
        margin-left: 0 !important;
    }

}



/* index page style */
.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel .search {
    background-color: #232931;
    position: absolute !important;
    height: 144px;
    bottom: -72px;
    left: 50%;
    transform: translateX(-50%);
    /* margin: 0 auto; */
    z-index: 10 !important;
}

.carousel .search>.input-group {
    top: 50%;
    transform: translateY(-50%);
}

.carousel .search>.input-group>input {
    height: 60px;
}

.carousel .search>.input-group button {
    background-color: #ffb400;
    border: none;
    border-radius: 0;
    height: 60px;
    align-items: center;
}

.carousel-caption {
    margin-bottom: 35vh;
    padding: 0;
}
#slogan {
    font-size: 24px;
    font-weight: 800;
    letter-spacing:0.5rem;
}

.caption {
    margin-top: 140px;
    margin-bottom: 85px;
}

.caption>h1 {
    color: #232931;
    font-weight: 800;
    letter-spacing: 1.5rem;
}

.popular-country .country {
    display: inline-block;
    height: 50vh;
    line-height: 50vh;
    background-color: #232931;
    color: white;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.75rem;
    flex-basis: 30% !important;
    margin: 10rem 0 0 0;
}

.popular-country {
    margin: 10rem 0 10rem 0;
}

.classic-tour {
    margin: 10rem 0 10rem 0;
}

@media (max-width: 991px) {
    .caption {
        margin-top: 100px;
        margin-bottom: 45px;
    }
    .carousel-caption {
        margin-bottom: 12vh;
        padding: 0;
    }
    #slogan {
        font-size: 16px;
        font-weight: 800;
        letter-spacing:0.5rem;
    }
    .carousel-item img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
    .popular-country .country {
        display: inline-block;
        height: 30vh;
        line-height: 30vh;
        background-color: #232931;
        color: white;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.25rem;
        flex-basis: 30% !important;
        margin: 10rem 0 0 0;
    }
}

/*detail-information page style*/
.sticky {
    position: fixed;
    top: 3%;
    right: 12.5%;
    width: 25%;
  }
.order-card{
    display: block;
}
.order-bar{
    display: none;
}

@media (max-width: 991px) {
   .order-card{
       display: none;
   }
   .order-bar{
       display: flex;
   }
}
/*user page style*/
#user-control-items{
    width: 80%!important;
    border:1px solid #232931;
}
#user-control-items a{
    position: relative;
    width: 90%;
    display: block;
    padding: .75rem 1.25rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    color: #232931;
    text-decoration: none;
}

#user-control-items a:before {
    content : "";
    position: absolute;
    /* height  : 1px; */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    /* border-bottom:1px solid rgba(0,0,0,.2); */
  }

#user-control-items .active{
    color: #ffb400;
}

#user-control-items .active:before {
    content : "";
    position: absolute;
    /* height  : 1px; */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border-bottom:5px solid #ffb400;
  }

#profile button{
    width: 30%;
}

.btn-favorite{
    width: 4%;
}

@media (max-width: 991px) {
    #user-control-items{
        width: 100%!important;
        border:1px solid #232931;
    }

    .btn-favorite{
        width: 5%;
    }
}
/*test*/
.box1{
    background-color: gainsboro;
}

.box2{
    background-color: rgb(0, 100, 0);
}
.box3{
    background-color: rgb(0, 180, 0);
}
.box4{
    background-color: rgb(0, 255, 0);
}
.box5{
    background-color: rgb(100, 0, 0);
}
.box6{
    background-color: rgb(180, 0, 220);
}
.box7{
    background-color: rgb(255, 0, 220);
}
